<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		{{>mainstyles}}
	</head>
	<body>
		<div id="tdMain">
			{{>topnav}}
			{{>mainheader}}
			<article>
				{{#introduction}}
					{{>article}}
				{{/introduction}}
			</article>
			<div class="footer-spacer"></div>
		</div>
		{{>footer}}
	</body>
</html>