<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		{{>mainstyles}}
	</head>
	<body>
		<div id="tdMain">
			{{>topnav}}
			{{>mainheader}}
			{{>projectcarousel}}
			<div class="footer-spacer"></div>
		</div>
		{{>footer}}
	{{>mainjavascripts}}
	</body>
</html>