html {
  min-height: 100%;
  background: #111;
}
body {
  font-family: 'Cabin', sans-serif;
}
body > header {
  background: #333333;
  background: -moz-linear-gradient(top, #333333 0%, #3f4954 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #3f4954));
  background: -webkit-linear-gradient(top, #333333 0%, #3f4954 100%);
  background: -o-linear-gradient(top, #333333 0%, #3f4954 100%);
  background: -ms-linear-gradient(top, #333333 0%, #3f4954 100%);
  background: linear-gradient(to bottom, #333333 0%, #3f4954 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#3f4954', GradientType=0);
  margin: 0;
  position: relative;
  -webkit-box-shadow: 0px 3px 2px rgba(10, 10, 10, 0.6);
  -moz-box-shadow: 0px 3px 2px rgba(10, 10, 10, 0.6);
  -o-box-shadow: 0px 3px 2px rgba(10, 10, 10, 0.6);
  -ms-box-shadow: 0px 3px 2px rgba(10, 10, 10, 0.6);
  -k-box-shadow: 0px 3px 2px rgba(10, 10, 10, 0.6);
  box-shadow: 0px 3px 2px rgba(10, 10, 10, 0.6);
}
body > header h1 {
  color: #ff9900;
  font-size: 2.6em;
  line-height: 1.6em;
  font-family: 'Lobster';
  text-shadow: 3px 3px 2px rgba(10, 10, 10, 0.6);
}
body > header h1 em {
  color: #3399cc;
  font-style: normal;
}
body > nav {
  background-color: #3399CC;
  padding: 3px 0 0 0;
  line-height: 2.3em;
  font-size: 1.1em;
  font-family: 'Cabin', sans-serif;
  margin: 0 0 1.75em 0;
  border-bottom: 2px solid #27A;
}
body > nav ul {
  text-align: center;
  margin: 0;
}
body > nav li {
  display: inline;
  padding: 0 28px;
}
section#projects {
  font-size: 1em;
}
section#projects dl {
  font-size: 0.9em;
  line-height: 1.4em;
  padding: 1.2em;
}
section#projects dl dt {
  font-weight: bold;
}
section#projects dl dd {
  margin: 0 0 0.4em 0;
}
section#projects p {
  line-height: 1.8em;
}
section#projects .playr {
  color: #DDD;
}
section#projects .playr dl {
  background: #f90;
  color: #222;
}
section#projects .playr img.main-image {
  margin: 2em 0;
}
