// colours
@tdTranGrey: rgba(10, 10, 10, 0.7);
@tdGrey: #333333;
@tdOrange: #FF9900;
@tdBlue: #3399CC;
@GutterWidth: 15%;
@FooterHeight: 40px;
@FooterMargin: 45px;

.Transform(@params)
{
	-webkit-transform: @params;
	-moz-transform: @params;
	-o-transform: @params;
	-ms-transform: @params;
	-k-transform: @params;
	transform: @params;
}

.Transition(@params)
{
	-webkit-transition:@params;
	-moz-transition:@params;
	-o-transition:@params;
	-ms-transition:@params;
	-k-transition:@params;
	transition:@params;
}

.BoxShadow(@params)
{
	-webkit-box-shadow: @params;
	-moz-box-shadow: @params;
	-o-box-shadow: @params;
	-ms-box-shadow: @params;
	-k-box-shadow: @params;
	box-shadow: @params;
}

.BorderRadius(@params)
{
	-webkit-border-radius:@params;
	-moz-border-radius:@params;
	-o-border-radius:@params;
	-ms-border-radius:@params;
	-k-border-radius:@params;
	border-radius:@params;
}

.clearfix {
	clear: both;
}

html, body {
	height: 100%;
}

html {
	background: #33342d;
}

body {
	margin: 0;
	font-family: 'Cabin', sans-serif;
}

#tdMain {
	@TotalFooterHeight: @FooterMargin + @FooterHeight;
	
	min-height: 100%;
	margin-bottom: -@TotalFooterHeight;
	
	div.footer-spacer {
		height: @TotalFooterHeight;
	}
}

#tdMain > header {

	margin: 1.8em @GutterWidth 4.2em;
	text-align: right;

	h1 {
		color: @tdOrange;
		font-size: 4em;
		line-height: 1.5em;
		font-family: 'Lobster';
		text-shadow: 3px 3px 2px rgba(10, 10, 10, 0.6);
		border-bottom: 2px dotted #DDD;
	}

	h1 em {
		color: @tdBlue;
		font-style: normal;
	}
}

body > footer {
	
	width: 100%;
	margin: @FooterMargin 0 0 0;
	background: @tdOrange;
	font-size: 0.9em;
	color: #222;
	height: @FooterHeight;
	overflow: hidden;
	
	p {
		padding: 1em 0 1em @GutterWidth;
	}
}

#tdMain > nav {

	line-height: 2.3em;
	font-size: 1em;
	font-family: 'Cabin', sans-serif;
	color: #DDD;
	border-top: 5px #ff9900 solid;
	
	ul {
		margin: 0;
		padding: 0;
		text-align: center;
	}
	
	li {
		display: inline;
		padding: 0 28px;
	}
	
	a {
		color: #DDD;
		text-decoration: none;
		padding: 0 0 0.4em 0;
		
		&:visited {
			color: #DDD;
		}
		
		&:hover, &:visited:hover {
			border-bottom: @tdOrange 0.3em solid;
		}
	}
	
	span {
		padding: 0 0 0.4em 0;
		border-bottom: @tdBlue 0.3em solid;
	}
}

article {
	margin: 0 @GutterWidth;
	color: #eee;
	
	h1 {
		font-size: 2.5em;
		margin: 0.5em 0;
	}
	
	p {
		margin: 1.2em 0;
		font-size: 1.0em;
		line-height: 1.7em;
	}
	
	aside {
		font-size: 0.9em;
		line-height: 1.6em;
		padding: 1.5em 1.5em 1em 1.5em;
		background: @tdBlue;
		overflow: auto;
		width: 33%;
		
		&.left {
			float: left;
			margin: 0 2em 0 0;
		}
		&.right {
			float: right;
			margin: 0 0 0 2em;
		}
	}
	
	dl {
		dt {
			font-weight: bold;
		}
		
		dd {
			color: #222;
			margin: 0 0 0.5em 0;
		}
	}
}

.scrollarea
{
	margin: 2em 0 0;
	height: 366px;
	overflow: hidden;
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		height: 100%;
		/*width: 3000px;*/
	}
	
	ul li {
		float: left;
		width: 650px;
		height: 366px;
		padding: 0;
		margin: 0 0;
		cursor: pointer;
		opacity: 0.2;
		.Transition(opacity 0.3s ease-in-out);
		&.active {
			opacity: 1;
		}
		
		img {
			width: 100%;
			height: auto;
		}
	}
}

.scrollbar {
	margin: 1em @GutterWidth*2 2.5em;
	cursor: pointer;
	background: #444;
	padding: 0 1%;
	
	&:hover {
		/*background: #555;*/
	}
	
	&.horizontal {
		height: 12px;
		
		.handle {
			position: relative;
			top: -3px;
			height: 18px;
		}
	}
	
	.handle {
		cursor: pointer;
		background: darken(@tdBlue, 10%);
		width: 33%;
		.BorderRadius(2px);
		
		&:hover, &.dragged {
			background: @tdBlue;
		}
	}
}