body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body > header {
  background: #333333;
  margin: 0 0 3em 0;
}
body > header h1 {
  color: #ff9900;
  font-size: 24px;
  line-height: 40px;
  font-family: 'Lobster';
}
body > header h1 em {
  color: #3399cc;
  font-style: normal;
}
section.tdSelectMenu img {
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px rgba(10, 10, 10, 0.3);
  -moz-box-shadow: 2px 2px 2px rgba(10, 10, 10, 0.3);
  -o-box-shadow: 2px 2px 2px rgba(10, 10, 10, 0.3);
  -ms-box-shadow: 2px 2px 2px rgba(10, 10, 10, 0.3);
  -k-box-shadow: 2px 2px 2px rgba(10, 10, 10, 0.3);
  box-shadow: 2px 2px 2px rgba(10, 10, 10, 0.3);
}
section.tdSelectMenu img.selected,
section.tdSelectMenu img:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -k-transform: scale(1.15);
  transform: scale(1.15);
}
section.tdSelectPreview {
  position: relative;
}
section.tdSelectPreview .tdSelectTarget {
  position: absolute;
  top: 0px;
  left: 0px;
}
section.tdSelectPreview .tdSelectTarget article {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -k-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  visibility: hidden;
}
section.tdSelectPreview .tdSelectTarget.tdSelected article {
  opacity: 1;
  visibility: visible;
}
